
.foot-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100vw;
    
    .hp-sidenavbar-wrap {
        width: 100%;
        display: flex;

        .hp-sidenavbar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.7em;
            gap: 0.3em;

            a {
                padding: 0.3em;
                border-radius: 100%;
                box-shadow: -0.001em -0.001em 0.1em 0.01em white,
                0.001em 0.001em 0.1em 0.01em white;
                text-decoration: none;
                color: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            a:hover {
                border: 0.1em solid rgb(98, 202, 191);
                box-shadow: -0.001em -0.001em 0.1em 0.01em rgb(98, 202, 191),
                0.001em 0.001em 0.1em 0.01em rgb(98, 202, 191);
            }
            .slnk-img {
                height: 0.8em;
                width: 0.8em;
                filter: invert(100%);
            }

            .slnk-img:hover {
                filter: invert(80%) sepia(350%) saturate(200%) hue-rotate(100deg) brightness(90%) contrast(50%);
            }
        }
    }
}