
@media (min-width: 1450px) {

    .rw1 {
        height: fit-content;
        width: 100%;

        .btn-css-sass {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em 0.8em;
            gap: 0.2em;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            background-color: red;
            border: 5px solid white;
            border-bottom-right-radius: 1em;

            .logo-img-btn {
                height: 0.7em;
                width: 0.7em;
                filter: invert(10%) sepia(330%) saturate(200%) hue-rotate(280deg) brightness(75%) contrast(80%);
            }
        }
    }

    .flow-page-1 {
        height: fit-content;
        width: 100%;
        border-left: 0.1em solid darkblue;
        padding: 2em;

        .rw2 {
            display: grid;
            grid-template-columns: 60% 30%;

            .rw2-col1 {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.7em;

                .tab-off-hr-wrap {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-left: 2em;

                    .tab-off-hr {
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0.7em;
                        background-color: transparent;
                        padding: 0.3em 0.8em;
                        color: rgb(81, 149, 204);
                        border: 0.01em solid rgb(81, 149, 204);
                    }
                }

                .tab-off-hr:hover {
                    border-color: aqua;
                    color: aqua;
                }

                .p-desc {
                    display: flex;
                    font-weight: bold;
                    font-size: 3.5rem;
                    color: white;

                    p {
                        font-weight: bold;
                        font-size: 3.5rem;
                        color: white;
                    }

                    .slash-b {
                        font-size: inherit;
                        color: darkblue;
                    }
                }

                .loct {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: rgb(125, 123, 123);
                    word-spacing: 0.2em;
                    padding-left: 2em;
                    p {
                        font-size: 1.2rem;
                    }

                    .loct-ini {
                        padding: 0 0.4em;
                    }

                    ini1 {
                        padding-left: 0;
                    }

                    .ini2 {
                        border: 0.01em solid darkblue;
                        border-width: 0 3px 0 3px;
                    }
                }
            }

            .rw2-col2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .rw2-img {
                    height: 16em;
                    width: 16em;
                }
            }
        }

        .rw3 {
            display: flex;
            flex-flow: wrap;
            gap: 1em;
            height: fit-content;
            width: 100%;
            padding: 1.5em 2em;

            .user-det {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                align-items: center;
                justify-content: center;
                gap: 1em;
                width: fit-content;

                img {
                    height: 3em;
                    width: 3em;
                    outline-offset: 0.3em;
                    outline: 0.01em solid darkblue;
                    border-radius: 100%;
                }

                .detail {
                    display: flex;
                    flex-direction: column;

                    .detail-title {
                        font-size: 2rem;
                        color: white;
                        font-weight: bold;
                    }

                    .detail-tc {
                        font-size: 1.5rem;
                        color: darkblue;
                    }
                }
            }
        }
    }
}

@media (max-width: 1449px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .rw1 {
        height: fit-content;
        width: 100%;

        .btn-css-sass {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em 0.8em;
            gap: 0.2em;
            font-weight: bold;
            color: rgb(43, 43, 47);
            background-image: linear-gradient(90deg, aqua, aqua, aqua,purple, green);
            border: 5px solid white;
            border-top-right-radius: 0.4em;
            border-bottom-right-radius: 0.4em;

            .logo-img-btn {
                height: 0.7em;
                width: 0.7em;
                filter: invert(10%) sepia(330%) saturate(200%) hue-rotate(280deg) brightness(75%) contrast(80%);
            }
        }
    }

    .flow-page-1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        border-left: 0.1em solid darkblue;
        padding: 2em;

        .rw2 {
            display: flex;
            flex-direction: column;

            .rw2-col1 {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.7em;

                .tab-off-hr-wrap {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-left: 2em;

                    .tab-off-hr {
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0.7em;
                        background-color: transparent;
                        padding: 0.3em 0.8em;
                        color: rgb(81, 149, 204);
                        border: 0.01em solid rgb(81, 149, 204);
                    }
                }

                .tab-off-hr:hover {
                    border-color: aqua;
                    color: aqua;
                }

                .p-desc {
                    display: flex;
                    font-weight: bold;
                    font-size: 3rem;
                    color: white;

                    p {
                        font-weight: bold;
                        font-size: 3rem;
                        color: white;
                    }

                    .slash-b {
                        font-size: inherit;
                        color: darkblue;
                    }
                }

                .loct {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: rgb(125, 123, 123);
                    padding-left: 2em;

                    .loct-ini {
                        padding: 0 0.4em;
                    }

                    ini1 {
                        padding-left: 0;
                    }

                    .ini2 {
                        border: 0.01em solid darkblue;
                        border-width: 0 3px 0 3px;
                    }
                }
            }

            .rw2-col2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .rw2-img {
                    height: 14em;
                    width: 14em;
                }
            }
        }

        .rw3 {
            display: flex;
            flex-flow: wrap;
            gap: 1em;
            height: fit-content;
            width: 100%;
            padding: 1.5em 2em;

            .user-det {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                align-items: center;
                justify-content: center;
                gap: 1em;
                width: fit-content;

                img {
                    height: 3em;
                    width: 3em;
                    outline-offset: 0.3em;
                    outline: 0.01em solid darkblue;
                    border-radius: 100%;
                }

                .detail {
                    display: flex;
                    flex-direction: column;

                    .detail-title {
                        font-size: 2rem;
                        color: white;
                        font-weight: bold;
                    }

                    .detail-tc {
                        font-size: 1.5rem;
                        color: darkblue;
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .rw1 {
        height: fit-content;
        width: 100%;

        .btn-css-sass {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em;
            gap: 0.2em;
            font-weight: bold;
            color: rgb(43, 43, 47);
            background-image: linear-gradient(120deg, aqua, aqua, aqua,aqua,purple,purple,greenyellow, green);
            border: 0.1em solid whitesmoke;
            border-top-right-radius: 0.4em;
            border-bottom-right-radius: 0.4em;
            p {font-size: 0.5em;}

            .logo-img-btn {
                height: 0.7em;
                width: 0.7em;
                place-self: center;
                filter: invert(10%) sepia(330%) saturate(200%) hue-rotate(280deg) brightness(75%) contrast(80%);
            }
        }
    }

    .flow-page-1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        border-left: 0.1em solid darkblue;
        padding: 1em;

        .rw2 {
            display: flex;
            flex-direction: column;

            .rw2-col1 {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.7em;

                .tab-off-hr-wrap {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-left: 2em;

                    .tab-off-hr {
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0.7em;
                        background-color: transparent;
                        padding: 0.3em 0.8em;
                        color: rgb(81, 149, 204);
                        border: 0.01em solid rgb(81, 149, 204);
                    }
                }

                .tab-off-hr:hover {
                    border-color: aqua;
                    color: aqua;
                }

                .p-desc {
                    display: flex;
                    font-weight: bold;
                    font-size: 3rem;
                    color: white;

                    p {
                        font-weight: bold;
                        font-size: 3rem;
                        color: white;
                    }

                    .slash-b {
                        font-size: inherit;
                        color: darkblue;
                    }
                }

                .loct {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: rgb(125, 123, 123);
                    padding-left: 2em;
                    p {font-size: 0.5em;}

                    .loct-ini {
                        padding: 0 0.4em;
                    }

                    ini1 {
                        padding-left: 0;
                    }

                    .ini2 {
                        border: 0.01em solid darkblue;
                        border-width: 0 3px 0 3px;
                    }
                }
            }

            .rw2-col2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .rw2-img {
                    height: 12em;
                    width: 12em;
                }
            }
        }

        .rw3 {
            display: flex;
            flex-flow: wrap;
            gap: 0.5em;
            height: fit-content;
            width: 100%;
            padding: 1.5em 2em;

            .user-det {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                width: fit-content;

                img {
                    height: 1.8em;
                    width: 1.8em;
                    outline-offset: 0.1em;
                    outline: 0.01em solid darkblue;
                    border-radius: 100%;
                }

                .detail {
                    display: flex;
                    flex-direction: column;

                    .detail-title {
                        font-size: 0.5em;
                        color: white;
                        font-weight: bold;
                    }

                    .detail-tc {
                        font-size: 0.4em;
                        color: darkblue;
                    }
                }
            }
        }
    }
}

@media (max-width: 765px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .rw1 {
        height: fit-content;
        width: 100%;

        .btn-css-sass {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em;
            gap: 0.2em;
            font-weight: bold;
            color: rgb(43, 43, 47);
            background-image: linear-gradient(120deg, aqua, aqua, aqua,aqua,purple,purple,greenyellow, green);
            border: 0.1em solid whitesmoke;
            border-top-right-radius: 0.4em;
            border-bottom-right-radius: 0.4em;
            p {font-size: 0.5em;}
            .logo-img-btn {
                height: 0.7em;
                width: 0.7em;
                place-self: center;
                filter: invert(10%) sepia(330%) saturate(200%) hue-rotate(280deg) brightness(75%) contrast(80%);
            }
        }
    }

    .flow-page-1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        border-left: 0.1em solid darkblue;
        padding: 1em;

        .rw2 {
            display: flex;
            flex-direction: column;

            .rw2-col1 {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.7em;

                .tab-off-hr-wrap {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-left: 0.1em;

                    .tab-off-hr {
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0.3em;
                        background-color: transparent;
                        padding: 0.3em 0.8em;
                        color: rgb(81, 149, 204);
                        border: 0.01em solid rgb(81, 149, 204);
                        p {
                            font-size: 0.2em;
                        }
                    }
                }

                .tab-off-hr:hover {
                    border-color: aqua;
                    color: aqua;
                }

                .p-desc {
                    display: flex;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: white;

                    p {
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: white;
                    }

                    .slash-b {
                        font-size: inherit;
                        color: darkblue;
                    }
                }

                .loct {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: rgb(125, 123, 123);
                    padding-left:0.1em;
                    p {font-size: 0.3em;}

                    .loct-ini {
                        padding: 0 0.4em;
                    }

                    ini1 {
                        padding-left: 0;
                    }

                    .ini2 {
                        border: 0.01em solid darkblue;
                        border-width: 0 3px 0 3px;
                    }
                }
            }

            .rw2-col2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .rw2-img {
                    height: 6em;
                    width: 6em;
                }
            }
        }

        .rw3 {
            display: flex;
            flex-flow: wrap;
            gap: 0.5em;
            height: fit-content;
            width: 100%;
            padding: 1.5em 0.2em;

            .user-det {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                align-items: center;
                justify-content: center;
                gap: 0.3em;
                width: fit-content;

                img {
                    height: 1em;
                    width: 1em;
                    outline-offset: 0.1em;
                    outline: 0.01em solid darkblue;
                    border-radius: 100%;
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 0.5em;
                    }

                    .detail-title {
                        color: white;
                        font-weight: bold;
                    }

                    .detail-tc {
                        color: darkblue;
                    }
                }
            }
        }
    }
}